@charset "UTF-8";
/*共通項目*/
html {
  margin: 0;
  font-family: "ヒラギノ角ゴ ProN W2", "Hiragino Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, a {
  margin: 0;
  color: #505050;
  font-weight: 200;
}

picture {
  width: 100%;
}

/*==================
  mixin
==================*/
/* ------------
header
-------------- */
.inner {
  max-width: 94rem;
  width: 100%;
  padding-inline: 3rem;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #fff;
  font-family: "Mountains of Christmas", serif;
  line-height: 1;
}

.header__container {
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo h1 span {
  font-size: 4rem;
  line-height: 1;
}

.header__logo h1 {
  font-family: "Mountains of Christmas", serif;
  font-size: 12rem;
  font-weight: 600;
  line-height: 1;
}

.header__nav {
  height: inherit;
  font-size: 4rem;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.header__nav ul li {
  list-style-type: none;
  height: inherit;
  padding-inline: 1.7rem;
}

.header__nav ul li a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.header__nav ul li a span {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .header__nav ul li a span:before {
    content: "";
    width: 0;
    height: 0.2rem;
    background: #505050;
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

.header__nav ul li a:hover {
  opacity: 0.5;
}

.header__nav ul li a:hover span::before {
  width: 100%; /* hover時にpタグの幅いっぱいに下線が広がる */
  -webkit-transform: scaleX(1);
          transform: scaleX(1); /* hover時に::beforeのtransformを変更 */
}

/*==================
 main
==================*/
.main {
  width: 100%;
}

.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__fv {
  width: 45rem;
  margin-left: 5rem;
}

.main__box img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: 45% 5%;
     object-position: 45% 5%;
}

/*==================
 menu
==================*/
.menu {
  padding-block: 5rem;
}

.inner > h2 {
  font-family: "Mountains of Christmas", serif;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  padding-bottom: 4rem;
}

.inner > h2::after {
  content: "";
  display: block;
  width: 8rem;
  height: 2.5px;
  background: #505050;
  margin: 4px auto 0;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}

.menu-list__img {
  width: 40rem;
}

.menu-list__img img {
  width: 100%;
}

.menu-list__text {
  padding: 2rem;
}

.menu-list__title {
  font-size: 3.2rem;
  line-height: 1;
}

.menu-list__memo {
  font-size: 2rem;
  line-height: 1;
}

/*==================
 about
==================*/
.about {
  padding-block: 5rem;
}/*# sourceMappingURL=style.css.map */