@charset "utf-8";

/*共通項目*/
html {
 margin: 0;
 font-family: "ヒラギノ角ゴ ProN W2", "Hiragino Sans", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 10px;
 scroll-behavior: smooth;
}

p, h1, h2, h3, h4, a {
 margin: 0;
 color: #505050;
 font-weight: 200;
}

picture {
 width: 100%;
}

/*==================
  mixin
==================*/
@mixin pc {
 @media only screen and (min-width: 768px) { //768pxは変数を使用しても良い
   @content;
 }
}

@mixin sp {
 @media only screen and (max-width: 767px) { //767pxは変数を使用しても良い
   @content;
 }
}

@mixin min($width) {
 @media only screen and (min-width: #{$width}) {
   @content;
 }
}

@mixin max($width) {
 @media only screen and (max-width: #{$width}) {
   @content;
 }
}

/* ------------
header
-------------- */

.inner {
 max-width: 94rem;
 width: 100%;
 padding-inline: 3rem;
 margin: 0 auto;
 // background-color: aqua;
}

header {
 width: 100%;
 background-color: #fff; 
 font-family: "Mountains of Christmas", serif;
 line-height: 1;
}

.header__container {
 height: 8rem;
 display: flex;
 justify-content: space-between;
}

.header__logo {
 display: flex;
 align-items: center; 
}

.header__logo h1 { 
 font-family: "Mountains of Christmas", serif;
 font-size: 4rem;
 line-height: 1;
}

.header__nav {
 // background-color: yellow;
 height: inherit;
 font-size: 4rem;
 line-height: 1;
}

.header__nav ul {
 display: flex; 
 height: inherit; 
}

.header__nav ul a {
 height: inherit; 
 background-color: yellow;
 transition: opacity .4s;
}

.header__nav ul a:hover {
 opacity: 0.5;

}



.header__nav ul li {
 list-style-type: none;
 height: inherit;
 display: flex;
 align-items: center;
 padding-inline: 1.7rem;
}

/*==================
 main
==================*/
.main {
 width: 100%;
}

.main__box {
 width: 100%;
}

.main__box img { 
 width: 100%;
}


/*==================
 menu
==================*/

.menu {
 //background-color: yellow;
 padding-block: 5rem;
}

.inner > h2 {
 font-family: "Mountains of Christmas", serif;
 font-size: 4rem;
 line-height: 1;
 text-align: center;
 padding-bottom: 4rem;  
}

.inner > h2::after {
content: '';
    display: block;
    width: 8rem;
    height: 2.5px;
    background: #505050;
    margin: 4px auto 0;
}

.menu-list {
 //background-color: aqua;
 display: flex; 
 justify-content: space-between;
 column-gap: 4rem;
}

.menu-list__img {
  width: 40rem;
}

.menu-list__img img { 
 width: 100%;
}

.menu-list__text {
 padding: 2rem;
}


.menu-list__title {
 font-size: 3.2rem;
 line-height: 1;
}

.menu-list__memo {
 font-size: 2rem;
 line-height: 1;
}

/*==================
 about
==================*/

.about {
 //background-color: yellow;
 padding-block: 5rem;
}